@media screen and (max-width: 992px) {

    .header-content > h1 {
        font-size: 40px;
        width: 700px;
    }

    .img-side img {
        width: 450px;
    }

    article > .faq {
        width: 800px;
    }
    
}

@media screen and (max-width: 768px) {

    header {
        padding: 20px 0px;
        height: 70vh;
    
    }
    

    nav {
        display:flex;
        justify-content:space-around;
    }
    

    .logo {
        width: 80px;
    }

    #btn-portugues {
        padding: 8px 10px;
    }

    #btn-portugues > p {
        display: none;
    }

    .header-content > h1 {
        font-size: 28px;
        line-height: 40px;
        width: 380px;
    }
    
    .header-content > h3 {
        font-weight: 400;
        font-size: 15px;
    }
    
    .header-content > p {
        font-size: 15px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    form > input {
        width: 90%;
        color: white;
    }

    form > button {
        margin: 20px 0;
        width: 35%;
        font-size: 13px;
        border-radius: 5px;
        border: none;
        background-color:  rgb(244, 3, 3);
        color: white;
    }

    .freature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 90px 0 90px 0;
        border-bottom: 8px solid rgb(26, 26, 26);
    }

    .freature > .text-side {
        width: 300px;
        align-items: justify;
    }
    
    .text-side > h2 {
        font-size: 20px;
        margin-bottom: 10px;
        align-items: center;
    }

    .text-side > p {
        font-size: 13px;
    }

    .img-side img {
        width: 300px;
    }

    article {
        justify-content: center;
    }

    article > .faq {
        width: 350px;
        padding: 20px 20px;
    }

    .header-faq > img {
        width: 10px;
        position: absolute;
        right: 5px;
        bottom: 10px;
    }

    article > h2 {
        font-size: 20px;
    }

    .header-faq > h3 {
        font-size: 15px;
    }

    .form-faq > form {
        width: 400px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    .form-faq > h3 {
        width: 400px;
        font-size: 15px;
    }
    
    footer {
        padding: 50px 20px;
        width: 80%;
    }

    footer > h4 {
        font-size: 12px;
    }
    
    footer > .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .column > a {
        font-size: 10px;
        gap: 0;
    }
}